{% extends "@ApothanOpenTourLib/base.html.twig" %}
 {% block body %}
    <div class="row">
        <div class="col-lg-3">
            <h1> 
                About Us
            </h1>
        </div>
        <div class="col-lg-9">
          
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales vestibulum blandit. Quisque varius placerat nibh, vel varius dui condimentum at. Maecenas urna tellus, auctor eu orci sit amet, convallis dapibus mi. Nam at imperdiet nisi, id consequat lectus. Phasellus id congue risus. Proin tristique bibendum risus, vitae ultricies elit aliquet lobortis. Morbi sagittis at eros quis sollicitudin. Praesent ut varius elit, at dapibus lacus. Maecenas sed viverra ipsum. Etiam vel nunc nec enim pretium sodales.

Donec eu urna sit amet neque viverra mattis in id justo. Donec ac velit eu magna efficitur tempor pharetra ac dui. Mauris ultrices libero sit amet lorem condimentum rhoncus. Vestibulum non ex eleifend, faucibus magna ultricies, rutrum turpis. Nullam et ornare sapien. Nunc sed justo lacus. Suspendisse et erat eu dolor dignissim semper. Etiam nulla mi, laoreet id maximus bibendum, varius eget odio. Aliquam quis leo tempus, euismod nisi a, rutrum odio. Pellentesque orci sapien, porta et nibh vitae, luctus venenatis ipsum. 
            </p>
        </div>
    </div>
 {% endblock %}