{% extends "@ApothanOpenTourLib/base.html.twig" %}
 {% block body %}
    <div class="row">
        <div class="col-3">
            <h1> 
                Terms and Conditions
            </h1>
        </div>
        <div class="col-9">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales dolor eget sem eleifend auctor. Nulla est erat, gravida vel quam aliquet, aliquet consequat turpis. Integer leo tortor, pretium non dui sed, finibus aliquam odio. Nunc id dui sem. Nullam pellentesque aliquam urna et sodales. Vestibulum commodo nec ipsum vel tincidunt. Quisque orci tellus, lobortis non elementum sit amet, varius eu augue.

Suspendisse nec congue quam. Proin blandit magna a nunc imperdiet, nec ullamcorper turpis rutrum. Suspendisse quis placerat tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum semper, massa vel cursus suscipit, felis diam ornare nunc, a feugiat mi elit vel purus. Nunc ut rutrum turpis. Praesent vel laoreet massa, eget lobortis massa. Donec eu eros congue, convallis elit non, sollicitudin neque.

Nam at sapien et ligula lacinia pulvinar. Donec interdum eget arcu ut ultricies. Integer porta sit amet odio vitae scelerisque. Sed dapibus, massa nec dignissim rhoncus, tellus turpis pretium massa, quis venenatis lectus purus molestie justo. Pellentesque convallis, magna ac aliquam feugiat, urna nunc tempor nibh, in suscipit ipsum urna at enim. Donec dignissim felis ac consequat porttitor. In hac habitasse platea dictumst. Pellentesque aliquam porttitor ultricies.

Maecenas vulputate velit nec odio dapibus sollicitudin. Proin auctor posuere tincidunt. Praesent tempor ultricies fermentum. Quisque egestas mauris eget venenatis aliquam. Vestibulum vitae velit at massa dignissim tempor sit amet sed augue. Vestibulum mollis eu nulla eu ultricies. Aenean nulla odio, fermentum euismod bibendum sit amet, viverra sed neque. Nunc id feugiat felis. Donec laoreet fringilla mauris, vel tempor nunc sollicitudin eget. Nulla facilisi. Donec interdum et elit quis consequat. Proin tempor, lectus at scelerisque gravida, neque urna pretium est, iaculis dictum nisl lorem sit amet magna. In hac habitasse platea dictumst. Quisque pharetra arcu purus.

Etiam viverra turpis in mauris iaculis lobortis. Aliquam lectus lorem, dapibus ut volutpat tristique, facilisis a nisi. Quisque condimentum id ex in gravida. Nam metus metus, fermentum malesuada iaculis in, varius in arcu. Proin iaculis lectus vel erat suscipit, rhoncus ornare augue tincidunt. Duis ac dui nec orci mattis fringilla. Nunc vehicula tincidunt vehicula. Cras ex tortor, condimentum a molestie at, ultrices faucibus ante. 
            </p>
        </div>
    </div>
 {% endblock %}